html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;

    background: transparent;
}
body {
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}
.fileinput-button {
    position: relative;
    overflow: hidden;
}
input.error,textarea.error,select.error {border-color: red !important; }
.btn-success {
    background-color: #57a900;
    background-image: -moz-linear-gradient(top, #70d900, #57a900);
    background-image: -ms-linear-gradient(top, #70d900, #57a900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
    background-image: -webkit-linear-gradient(top, #70d900, #57a900);
    background-image: -o-linear-gradient(top, #70d900, #57a900);
    background-image: linear-gradient(top, #70d900, #57a900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #57a900;
}

.btn-success:active, .btn-success.active {
    background-color: #57a900;
}

div.container a.brand {
    background: url("../images/logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}


.notice,
.success,
.message { padding: .8em; margin-bottom: 1em; border: 2px solid #ddd; }
input.error,textarea.error,select.error { color: #D12F19; border-color: #FBC2C4; background-color: #FFFFD5; }
.notice,
.message { background: #FFF6BF; color: #817134; border-color: #FFD324; }
.success { background: #E6EFC2; color: #529214; border-color: #C6D880; }
/*.error a { color: #D12F19; }*/

.notice a,
.message a { color: #817134; }
.success a { color: #529214; }

.notice li, .success li{
    list-style: none;
} 

.asterisk{
    color: red;
}
/**
 * Pagination
*/

div.pagination{background-color:#eee; font-weight: bold; padding:8px; margin:5px 0px; font-size:11px; color:#5a4e3e; border-radius:4px; }
div.paging,
div.counter { text-align: center; margin: 10px; }
div.counter { margin-top: 10px; }
.pagination ul li{
    display: inline;  
}


ul.form li{
    list-style: none;
    margin-bottom: 20px;
}

ul.form li.action{
    margin-top: 20px;
    padding-left: 165px;
}
ul.form li label{
    width: 150px;
    vertical-align: top;
}
ul.form li input[type="text"], 
ul.form li input[type="password"],
ul.form li select,
ul.form li textarea{

    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

}

ul.form li input[type="text"], ul.form li input[type="password"]{
    width: 50%;
    padding: 5px;

}
ul.form li textarea{
    width: 50%;
    padding: 5px;
}
ul.form li select{
    width: 30%;
    padding: 5px;
}

/*common */
h1{
    font-size: 22px;
}
h2{
    font-size: 20px;
}
h3{
    font-size: 18px;
}
h4{
    font-size: 16px;
}
ul li{
    list-style: none;
}


/* end common */

#footer{
    padding-top: 50px;

}
#footer .footerInside{
    margin: 0 auto;
    width: 1170px;
    border-top: 1px solid #ccc;
}

#footer ul{
    width: 100%;
    overflow: hidden;

}
#footer ul li{
    float: left;
    padding: 10px;
}


/* news content left */
.posts .pull-left img{
    max-width: 200px;
}


.highlight-content{
    padding-bottom: 30px;
}
.right-sidebar{
    padding-top: 30px;
}